.prog{
  width: 99%;
  border: 5px solid #9B51E0;
}
#header{
width: 100%;
 position: relative;
 margin-top: 30px;
 text-align: center;
}
.logo{
  position: relative;
  left: 0px;
  top: -5px;
  width: 50px;
  margin-right: 740px;
  height: 48px;
  background: #FFFFFF;
  border: 3px solid #FFC740;
  box-sizing: border-box;
}
.super-logo{
  position: relative;
  width: 143px;
  height: 48px;
  left: 25px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.head-list{
  display: inline-block;
}
.search{
  position: relative;
  width: 201px;
  height: 33px;
  right: 20px;
  top:10px;
  background: #FFFFFF;
  border: 1px solid #6D3D99;
}
.super-logo p{
  display: inline;
  white-space: nowrap;

}
.go{
  position: relative;
  width: 44px;
  height: 33px;
  bottom: 14px;
  left: 158px;
  background: #9B51E0;
}
.go p{
  padding-top: 8px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}
.main-menu{
  position: relative;
  right: 40px;
}
.main-menu ul li{
  display: inline-block;
  padding-left: 40px;
}
.main-menu ul li:first-child{
  padding: 0;
  background: #FFC740;
  color: white;
  height: 47px;
  width: 123px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}
.main-menu ul li:first-child p{
  padding-bottom: 10px;
}
#content{
  position: relative;
  width: 100%;
  height: auto;
  bottom: 50px;
}
.banner{
  position: relative;
  height: 400px;
  width: 980px;
  margin: 0 auto;
  right: 5px;
}
.banner::before{
  content: "";
  position: absolute;
  width: 100%; height: 100%;
  background:  url('img/alps.jpg') no-repeat 5% 85%;
  filter: brightness(55%);
}

.bannerTitle p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: #FFC740;
  filter: brightness(100%);
  margin-left: 44px;
  padding-top: 10px;
}
.bannerText{
  position: relative;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
margin-left: 44px;
margin-top: -50px;
}
.bannerButton{
  position: relative;
  background: #6D3D99;
  width: 125px;
height: 34px;
color: white;
margin-left: 44px;
text-align: center;
}
.bannerButton p{
  padding-top: 8px;
}
.contblock, .contblock1, .contblock2{
  position: relative;
  width: 100%;
  height: 190px;
  text-align: center;
}
.contblock2{
  height: 280px;
}
.block1{
  width: 470px;
  display: inline-block;
}
.block1:last-child, .block2:last-child, .block3:nth-child(2), .block3:nth-child(3){
  margin-left: 20px;
}
.block3{
  width: 305px;
  display: inline-block;
}
.block3{
  vertical-align: top;
}

.block2{
  width: 470px;
  display: inline-block;
}

.polosa1{
  background: #9B51E0;
  width: 470px;
  height: 16px;
  margin-top: 30px;
}
.polosa2{
background: #FFC740;
width: 470px;
height: 16px;
margin-top: 30px;
}
.polosa3, .polosa4{
background: #FFC740;
width: inherit;
height: 16px;
margin-top: 30px;
}
.polosa4{
  background: #9B51E0;
}
.wordsOnPolosa{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
/* identical to box height */
background: white;
color: #000000;
padding: 5px;
text-align: left;
width: auto;
margin-right: 260px;
}


.ava {
  height: 141px;
  width: 156px;
  float: left;
  border: 2px solid #FFC740;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 2px;
}
.cart-text1 p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: justify;
color: #000000;
}
.cart-text2 p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: justify;
color: #000000;
}
.cart-text3 p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: justify;
color: #000000;
}
.cart-text3 p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: justify;
color: #000000;
width: 100%;
}

.cart-text4 p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: justify;
color: #000000;
}
.cart-text4{
  width: inherit;
}

.cart-text3 p:last-child, .cart-text4 p:last-child, .cart-text1 p:last-child{
  text-decoration: underline;
}
.AvaPost1{
  width: 87px;
  height: 47px;
  float: left;
}
.AvaPost2{
  width: 72px;
  height: 42px;
  float: left;
}
.AvaPost3{
  width: 78px;
  height: 44px;
  float: left;
}
.AllPost p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: justify;
color: #000000;
margin-left: 100px;
}
.AllPost{
  display: block;
}
.clients{

width: 970px;
height: 16px;
background: #9B51E0;
margin: 0 auto;
}
.client{
  margin-top: 20px;
  height: 80px;
  padding-left: 40px;
}

.footer{
  width: 99%;
  height: 115px;
  background: #6D3D99;
}
.Copy{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
/* identical to box height */
color: #FFFFFF;
text-align: center;
vertical-align: middle;
}
.Copy p{
  padding-top: 49px;
}
.block3 .wordsOnPolosa{
  margin-right: 170px;
}
.clients .wordsOnPolosa{
  margin-left: 20px;
}
.OurClients{
  margin: 0 auto;
  text-align: center;
}
.client{
  padding-right: 5px;
}
