.prog {
  width: 100%;
  border: 5px solid #9B51E0;
}
.header {
width: 100%;
 position: relative;
 margin-top: 30px;
 text-align: center;
}
.logo {
  position: relative;
  left: 0px;
  top: -5px;
  width: 50px;
  margin-right: 740px;
  height: 48px;
  background: #FFFFFF;
  border: 3px solid #FFC740;
  box-sizing: border-box;
}
.super-logo {
  position: relative;
  width: 143px;
  height: 48px;
  left: 25px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.super-logo p{
  background: #FFFFFF;
}
.head-list {
  display: inline-block;
}
.search {
  position: relative;
  width: 201px;
  height: 33px;
  right: 20px;
  top:10px;
  background: #FFFFFF;
  border: 1px solid #6D3D99;
}
.super-logo p {
  display: inline;
  white-space: nowrap;

}
.go {
  position: relative;
  width: 44px;
  height: 33px;
  bottom: 14px;
  left: 158px;
  background: #9B51E0;
}
.go p {
  padding-top: 8px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}
.main-menu {
  font-family: Roboto;
  position: relative;
  margin-right: 65px;
}
.menuchoose {
  display: inline-block;
  padding-left: 40px;
}
.menuchoose:hover {
  background: #FFC740;
  color: white;
  height: 47px;
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
  padding-right: 40px;
  width: auto;
  margin-left: 40px;
}
.menuchoose:first-child:hover {
  margin-left: -15px;
}


.content {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 50px;
}
.banner {
  position: relative;
  height: 350px;
  width: 980px;
  margin: 0 auto;
  right: 5px;
}
.banner::before { 
  content: "";
  position: absolute;
  width: 100%; height: 100%;
  background:  url('img/alps.jpg') no-repeat 50% 90%;
  filter: brightness(55%);
}

.bannerTitle {
  position: relative;
  width: 500px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  color: #FFC740;
  filter: brightness(100%);
  margin-left: 44px;
  top: 30px;
}
.bannerText{
  position: relative;
  width: 450px;
  position: relative;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
margin-left: 44px;
margin-top: -30px;
}
.bannerButton{
  position: relative;
  font-family: Roboto;
  position: relative;
  background: #6D3D99;
  width: 125px;
height: 34px;
color: white;
margin-left: 44px;
text-align: center;
}
.bannerButton p{
  padding-top: 8px;
}
.contblock {
  position: relative;
  width: 100%;
  height: 190px;
  text-align: center;
  font-family: Roboto;
}
.contblock2{
  position: relative;
  width: 100%;
  text-align: center;
  font-family: Roboto;
  height: 280px;
}
.block{
  width: 470px;
  display: inline-block;
}
.block:nth-child(2n){
  margin-left: 20px;
}
.block2 {
  vertical-align: top;
  width: 305px;
  display: inline-block;
}
.block2:nth-child(2) {
  margin: 0 20px;
}

.polosa1, .polosa2{
  background: #9B51E0;
  width: inherit;
  height: 16px;
  margin-top: 30px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #000000;
}
.textonpolosa{
  background: #FFFFFF;
  margin-left: 16px;
  padding: 0 6px;
  width: 130px;
  white-space: nowrap;
  font-weight: bold; 
}
.polosa2{
background: #FFC740;
}
.ava {
  height: 141px;
  width: 156px;
  float: left;
  border: 2px solid #FFC740;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 2px;
}
.sobaka{
  background: url('img/sobaka.jpg') no-repeat;
  background-position: center left;
  background-size: 112% 112%;
}
.steve{
  background: url('img/steve.jpg') no-repeat;
  background-position: -40px;
  background-size: 179% 100%;
}
.miw{
  background: url('img/miw.jpg') no-repeat;
  background-position: center center;
  background-size: 130% 110%;
}
.tyan{
  background: url('img/tyan.jpg') no-repeat;
  background-size: 137% 146%
}
.cart-text{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: justify;
color: #000000;
}
.underline {
 text-decoration: underline;
}
.AvaPost1, .AvaPost2, .AvaPost3 {
  width: 60px;
  height: 47px;
  float: left;
  background: url('img/car.jpg') no-repeat;
  background-size: 185% 113%;
  background-position: -20px -3px;
  margin-right: 10px;
}
.AvaPost2{
  background: url('img/phone.jpg') no-repeat;
  background-size: 181% 110%;
  background-position: center center;
}
.AvaPost3{
  background: url('img/news.png') no-repeat;
  background-size: 206% 100%;
  background-position: center center;
}

.AllPost{
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
  color: #000000;
}

.clients{
width: 970px;
height: 16px;
background: #9B51E0;
margin: 0 auto;
}
.client{
  margin-top: 20px;
  height: 80px;
  padding-left: 40px;
}

.footer{
  width: 100%;
  height: 115px;
  background: #6D3D99;
}
.Copy{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
/* identical to box height */
color: #FFFFFF;
text-align: center;
vertical-align: middle;
padding-top: 49px;
}
.OurClients{
  margin: 0 auto;
  text-align: center;
}
.client{
  padding-right: 5px;
}
